version: 2
updates:
  - package-ecosystem: "pip"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
      - "dependencies"
    commit-message:
      prefix: "maint"
    ignore:
      # PyPim should not bring additional grpc constraints to other repositories
      - dependency-name: "grpcio"

  - package-ecosystem: "github-actions"
    cooldown:
      default-days: 10 # Fallback cooldown if no specific rule applies
    directory: "/"
    schedule:
      interval: "daily"
    labels:
      - "maintenance"
    commit-message:
      prefix: "maint"
    groups:
       actions:
          patterns:
            - "*"